VITE_API_URL=http://localhost:8080/api/
VITE_MQTT_BROKER_URL=ws://localhost:8083

OPENAI_API_KEY=YOUR_OPENAI_API_KEY_HERE

# Credenciales base de datos Neon postgressql
PG_HOST=your-neon-db-host.neon.tech
PG_PORT=5432
PG_USER=your_db_user
PG_PASSWORD=your_db_password
PG_DBNAME=neondb
