Flask==2.2.3
requests==2.28.2
numpy==1.24.2
opencv-python==4.7.0.72
# Pillow for image processing
Pillow>=9.4.0
transformers
torch
torchvision
mediapipe
# fake sam/smpl package representing the AI models
# segment-anything
